.coming-soon {
    background-image: url("../../../assets/images/blury-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    h2, h4 {
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
    }
}