.carousel {
  width: 100%;
  max-width: 100vw; // Prevents overflow beyond the screen width
  overflow: hidden; // Prevents vertical scrolling
  position: relative;
}

.carousel-track {
  display: flex;
  gap: 20px; // Reduce gap between cards
  transition: transform 0.5s ease-in-out;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  padding: 0 20px; // Add horizontal padding

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 768px) {
    padding: 0 40px; // Increase padding on larger screens
    padding-left: 287px;
    gap: 70px;
  }
}
