<mat-dialog-content class="newsletter-popup">
    <div class="left">
        <img src="../../../../assets/images/popup/popup-img.png" alt="">
    </div>
    <div class="right" [formGroup]="signupForm">
        <h2>Save 10% off your purchase</h2>
        <label for="firstName">Prénom</label>
        <input type="text" required formControlName="firstName" name="firstName" />

        <label for="lastName">Nom</label>
        <input type="text" required formControlName="lastName" name="lastName" />
        
        <label for="email">Adresse mail</label>
        <input type="text" required formControlName="email" name="email" />

        <mat-checkbox [color]="'rgba(2, 129, 161, 1)'" required [disableRipple]="false" formControlName="isChecked">Je reconnais avoir lu et accepté(e) la <a>politique de confidentialité</a></mat-checkbox>

        <alif-primary-button btnText="Souscrire à la newsletter" (click)="subscribeNewsletter()"></alif-primary-button>
    </div>
</mat-dialog-content>