<mat-dialog-content class="newsletter-popup">
  <span class="close-btn" #closeBtn>&times;</span>
  <div class="left">
    <img
      src="../../../../assets/images/popup/popup-img.png"
      alt="Popup Image"
    />
  </div>
  <div class="right">
    <h2>Save 10% off your purchase</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt.
    </p>

    <form
      action="https://alifstory.us19.list-manage.com/subscribe/post?u=0046a81f00298c470c5a91ecf&id=130c1c99c0&f_id=009272e7f0"
      method="post"
      ngNoForm
    >
      <input type="text" name="FNAME" placeholder="Prénom" required />
      <input type="text" name="LNAME" placeholder="Nom" required />
      <input type="email" name="EMAIL" placeholder="Adresse mail" required />
      <button type="submit">Rejoignez-nous</button>
    </form>
  </div>
</mat-dialog-content>
