@import "../../../../styles.scss";

// .navbar {
//   height: 5rem;
//   border-radius: 0;
//   padding: 0.75rem 2rem;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   background: $blue;
//   margin: 0;
//   align-items: center;
//   box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.15);

//   @media (max-width: 768px) {
//     flex-direction: column;
//     align-items: flex-start;
//     padding: 1rem;
//     .nav-list {
//       margin: 1rem 0;
//     }
//     .account {
//       margin: 1rem 0;
//     }
//   }

//   .navbar-toggler {
//     border: none;
//   }

//   img {
//     height: 3rem;
//     margin-right: 1rem;
//     cursor: pointer;
//   }

//   .collapse{
//     justify-content: center;
//     .nav-list {
//       margin-left: 1rem;
//       display: flex;
//       flex-direction: row;

//       .nav-item-route {
//         white-space: nowrap;
//         color: $dark-brown;
//         font-size: 1.2rem;
//         font-family: 'Letters for Learners', sans-serif;
//         display: flex;
//         align-items: center;
//         margin: 0 0.75rem;
//         padding: 0.625rem 0.75rem;
//         text-decoration: none;
//         line-height: 0;

//         img {
//           height: 0.75rem;
//           margin: 0.75rem 0.25rem;
//         }

//         &:hover,
//         &.active {
//           border-bottom: solid 2px $dark-brown;
//           cursor: pointer;
//         }
//       }
//     }
//   }

  // .account {
  //   display: flex;
  //   flex-direction: row;

  //   @media (max-width: 768px) {
  //     margin: 0;
  //   }

  //   .account-item {
  //     color: white;
  //     font-size: 1.2rem;
  //     font-family: 'Letters for Learners', sans-serif;
  //     display: flex;
  //     text-decoration: none;
  //     align-items: center;
  //     margin: 0.5rem 1rem;
  //     padding: 0.625rem 0;

  //     img {
  //       height: 1.5rem;
  //       margin-right: 0.75rem;
  //       margin-left: 0.875rem;
  //     }

  //     &:hover {
  //       text-decoration: underline;
  //       cursor: pointer;
  //     }
  //     &.active {
  //       text-decoration: underline;
  //       cursor: pointer;
  //     }
  //   }
  // }
// }

.navbar{
box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.15);
padding: 0.5rem 3rem;
margin: 0;

.navbar-second{
  display: flex;
  flex-direction:row ;
  justify-content: space-between;
  padding: 0;
}
  .collapse{
    display: flex;
    flex-direction: row;

    .nav-list {
      margin-left: 1rem;
      display: flex;
      flex-direction: row;

      .nav-item-route {
        white-space: nowrap;
        color: $dark-brown;
        font-size: 1.2rem;
        font-family: 'Letters for Learners', sans-serif;
        display: flex;
        align-items: center;
        margin: 0 0.75rem;
        padding: 0.625rem 0.75rem;
        text-decoration: none;
        line-height: 0;

        img {
          height: 0.75rem;
          margin: 0.75rem 0.25rem;
        }

        &:hover,
        &.active {
          border-bottom: solid 2px $dark-brown;
          cursor: pointer;
        }
      }
    }
  }



  .account {
    display: flex;
    flex-direction: row;

    @media (max-width: 768px) {
      margin: 0;
    }

    .account-item {
      color: white;
      font-size: 1.2rem;
      font-family: 'Letters for Learners', sans-serif;
      display: flex;
      text-decoration: none;
      align-items: center;
      margin: 0.5rem 1rem;
      padding: 0.625rem 0;

      img {
        height: 1.5rem;
        margin-right: 0.75rem;
        margin-left: 0.875rem;
      }

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
      &.active {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .navbar-brand{
    height: 3rem;
    margin-right: 1rem;
    cursor: pointer;
  }


}

.sidenav-list{
      .nav-item-route{
        white-space: nowrap;
        color: $dark-brown;
        font-size: 1.2rem;
        font-family: 'Letters for Learners', sans-serif;
        margin: 0 0.75rem;
        padding: 0.625rem 0.75rem;
        text-decoration: none;
        line-height: 0;
    }

  }
.sidenav-container{
  height: 80vh;
}

.menu-spacer {
  flex: 0.5 0.5 auto;
}
