.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  font-family: "poppins", sans-serif;

  .navbar-brand {
    height: 40px;
  }

  .nav-links {
    display: flex;
    gap: 18px;
  }

  .account {
    display: flex;
    gap: 18px;
  }

  /* Menu Button (Visible only on mobile) */
  mat-icon-button {
    display: none;
  }
}

.sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 250px;
  background: #f4f4f4;
}

mat-sidenav mat-nav-list {
  padding: 0;
}

mat-sidenav mat-list-item {
  font-size: 16px;
}

@media (max-width: 768px) {
  .navbar {
    .nav-links {
      display: none;
    }
  }
}
