<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-mobile-menu" (click)="toggleMobileMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="navbar-logo">
      <img
        class="navbar-brand"
        alt="Logo"
        src="../../../../assets/images/logo/logo-dark.svg"
        routerLink="/"
      />
    </div>

    <div class="navbar-links">
      <a routerLink="/concept">Concept</a>
      <a routerLink="/about-us">Qui-sommes-nous</a>
    </div>

    <div class="navbar-icons">
      <a routerLink="/login" routerLinkActive="active" class="icon-connect">
        <img alt="user" src="../../../../assets/images/icons/user.svg" />
      </a>
      <a routerLink="/cart" routerLinkActive="active" class="icon-cart">
        <img alt="panier" src="../../../../assets/images/icons/panier2.svg" />
      </a>
    </div>
  </div>

  <div class="navbar-mobile-dropdown" [ngClass]="{ active: isMobileMenuOpen }">
    <a routerLink="/concept">Concept</a>
    <a routerLink="/about-us">Qui-sommes-nous</a>
  </div>
</nav>
