.testimonials {
  display: flex;
  padding: 32px 0px 56px 0px;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  h1 {
    font-style: normal;
    font-family: "Belle Allure CM - Light";
    font-weight: 700;
    font-size: 42px;
    color: rgb(78, 81, 126);
    text-align: center;
    text-transform: uppercase;
    margin-top: 2rem;
    line-height: 1.15;
  }
  p {
    color: rgba(0, 53, 66, 1);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    margin-bottom: 3rem;
  }
  .testimonial {
    display: flex;
    padding: 0px 120px 0px 120px;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
  }
}

@media (max-width: 1024px) {
  .testimonials {
    display: flex;
    padding: 32px 0px 24px 0px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    h1 {
      font-style: normal;
      font-family: "Belle Allure CM - Light";
      font-weight: 700;
      font-size: 42px;
      color: rgb(78, 81, 126);
      text-align: center;
      text-transform: lowercase;
      margin-top: 2rem;
      line-height: 1.7;
    }
    .testimonial {
      display: flex;
      padding: 0 50px;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

@media (max-width: 768px) {
  .testimonials {
    display: flex;
    padding: 32px 20px 24px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    h1 {
      font-style: normal;
      font-family: "Belle Allure CM - Light";
      font-weight: 700;
      font-size: 42px;
      color: rgb(78, 81, 126);
      text-align: center;
      text-transform: lowercase;
      margin-top: 2rem;
      line-height: 1.7;
    }
    .testimonial {
      display: flex;
      flex-direction: column;
      padding: 0 25px;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
