@import "../../../styles.scss";
.alif-home {
  .hero {
    display: flex;
    justify-content: center;
    height: max-content;
    button {
      border: none;
      padding: 0px;
      margin: 0px;
    }
    .img {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h2 {
        font-family: "Belle Allure CE - Bold", serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        align-self: stretch;
        margin-bottom: 32px;
        color: rgba(163, 102, 55, 1);
      }
      p {
        font-family: "Bellefair", serif;
        font-size: 18px;
      }
      .btns {
        font-family: "Poppins", sans-serif;
        display: flex;
        gap: 24px;
      }
    }
  }
  .cards {
    display: flex;
    justify-content: space-between;
    margin: 5rem 4rem;
  }
  .quote {
    display: flex;
    flex-direction: column;
    padding: 40px 40px 0px 40px;
    h1 {
      font-family: "Belle Allure CE - Light", sans-serif;
      margin: 2rem 4rem 8rem;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 54px;
      text-align: center;
      color: #003542;
    }
    img {
      height: 25%;
      width: 25%;
      margin: auto;
      z-index: 1000;
      margin-bottom: -60px;
    }
  }

  .widgets {
    margin-bottom: 32px;
    padding: 60px 240px;
    background: linear-gradient(0deg, #ffffff -0.06%, #e9e2c8 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    .widget {
      display: flex;
      flex-direction: row;
      .content {
        text-align: center;
        display: flex;
        flex-direction: column;
        font-family: Poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: rgba(78, 81, 126, 1);
        img {
          margin: auto;
          margin-bottom: 24px;
          width: 80px;
        }
      }
      .separator {
        width: 0px;
        border: solid 1px $dark-brown;
        height: 284px;
      }
    }
  }

  .carousel {
    width: 100%;
    min-height: 700px;
    background-image: url("../../../assets/images/home/rectangle-back2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 4rem;
  }

  .baleine {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 48px 48px 48px;
  }
  .experiences {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 14rem;
    gap: 6rem;
    h3 {
      color: $dark-brown;
      text-align: center;
      font-family: "Belle Allure CE - Light", serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
    }
  }

  //
  .for-you {
    padding: 0 48px;
    font-size: 22px;
    padding-bottom: 2rem;

    h1 {
      text-align: center;
      font-family: "Belle Allure CE - Bold";
      font-size: 32px;
      color: rgb(78, 81, 126);
      line-height: 70px;
    }

    last-item {
      text-align: center;
      font-family: "Belle Allure CE - Bold";
      font-size: 32px;
      color: rgba(163, 102, 55, 1);
      margin: auto;
      width: fit-content;
    }

    .container {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 3rem 0;
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
      width: 100%;
      margin-top: 30px;
    }

    .bullets {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 3rem;
    }

    .bullets p {
      position: relative;
      padding-left: 40px;
      margin: 10px 0;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 33px;
      color: #003542;
      width: calc(50%);
    }

    .bullets p::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 20px;
      height: 20px;
      background-color: rgba(78, 81, 126, 1);
      border-radius: 50%;
      transform: translateY(-50%);
    }

    .last-item {
      text-align: center;
      margin: auto;
      width: fit-content;
    }

    .last-item p::before {
      background-color: rgba(78, 81, 126, 1);
    }
  }
  //

  .last-section {
    background: linear-gradient(180deg, #e9e2c8 0%, #ffffff 100%);
    margin: 4rem 0;
    h1 {
      font-style: normal;
      font-family: "Belle Allure CM - Light";
      font-weight: 700;
      font-size: 42px;
      color: rgb(78, 81, 126);
      text-align: center;
      text-transform: uppercase;
      padding-top: 4rem;
    }
    .faq-section {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 24px;
    }
    .service-client {
      margin-top: 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4rem;
      h1 {
        font-style: normal;
        font-family: "Belle Allure CM - Light";
        font-weight: 700;
        font-size: 42px;
        color: rgb(78, 81, 126);
        text-align: center;
        text-transform: uppercase;
        padding-top: 4rem;
      }
    }
    .icons {
      margin-top: 6rem;
      display: flex;
      justify-content: space-around;
      margin-bottom: 8rem;
      .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 260px;
        img {
          margin: 8px;
        }
        span {
          margin: 8px;
          font-family: "Poppins", sans-serif;
          font-size: 18px;
          font-weight: 400;
          line-height: 27px;
          text-align: center;
          color: rgba(0, 53, 66, 1);
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .alif-home {
    .hero {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      img {
        width: 200px;
      }
      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
          color: $dark-brown;
          font-family: "Belle Allure CE - Bold";
          font-size: 28px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          align-self: stretch;
          margin-bottom: 24px;
        }
        p {
          font-size: 16px;
        }
        .btns {
          display: flex;
          flex-direction: column;
          gap: 16px;
        }
      }
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      margin: 25px 50px;
      gap: 24px;
    }
    .carousel {
      height: 70%;
    }
    .widgets {
      margin: 32px 0px;
      padding: 24px 50px;
      background: linear-gradient(0deg, #fff -0.06%, #e9e2c8 100%);
      min-height: 300px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      .widget {
        display: flex;
        flex-direction: row;
        .content {
          color: $dark-brown;
          font-family: "Belle Allure CE - Light";
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          text-align: center;
          line-height: normal;
          display: flex;
          flex-direction: column;
          img {
            margin: auto;
            width: 60px;
          }
        }
        .separator {
          width: 0px;
          border: solid 1px
            linear-gradient(180deg, #eae3c9 0%, #4e517e 50.5%, #ffffff 100%);
          height: 120px;
        }
      }
    }
    .experiences {
      margin: 1rem 0rem 3rem 0rem;
      padding: 2rem 2rem !important;
      h3 {
        color: $dark-brown;
        text-align: center;
        font-family: "Letters for Learners";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        text-transform: uppercase;
      }
    }
    .last-section {
      .faq-section {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 768px) {
  .alif-home {
    height: 100vh;
    .hero {
      background: none;
      padding: 0px;
      height: 256px;
      flex-direction: column;
      align-items: center;
      height: auto;
      .img {
        width: 100%;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .content {
        display: flex;
        flex-direction: column;
        text-align: center;
        h2 {
          color: rgba(163, 102, 55, 1);

          font-family: "Belle Allure CE - Bold";
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          align-self: stretch;
          margin-bottom: 32px;
        }
        .btns {
          display: flex;
          gap: 24px;
        }
      }
    }
    .cards {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      margin: 25px 20px;
      gap: 24px;
    }
    .quote {
      padding: 0;
      h1 {
        font-family: "Belle Allure CE - Light", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 2.8;
        text-align: center;
        color: #003542;
      }
      img {
        height: 42%;
        width: 62%;
        margin: auto;
        z-index: 1000;
        margin-bottom: -60px;
      }
    }
    .carousel {
      height: 50%;
    }
    .for-you {
      h1 {
        font-size: 25px;
      }
      .container {
        padding: 0rem 0;
        .list {
          gap: 0;
          .bullets {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 0;
            p {
              position: relative;
              padding-left: 40px;
              margin: 10px 0;
              font-family: "Poppins";
              font-style: normal;
              font-weight: 400;
              font-size: 13px;
              line-height: 33px;
              color: #003542;
              width: 100%;
            }
          }

          .bullets p::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            width: 10px;
            height: 10px;
            background-color: rgba(78, 81, 126, 1);
            border-radius: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
    .widgets {
      margin: 32px 0px;
      padding: 24px 20px;
      background: linear-gradient(0deg, #ffffff -0.06%, #e9e2c8 100%);
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      .widget {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        .content {
          padding: 10px;
          color: $dark-brown;
          font-family: "Belle Allure CE - Light";
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          text-align: center;
          line-height: normal;
          display: flex;
          flex-direction: column;
          img {
            margin: auto;
            width: 50px;
            margin-bottom: 10px;
          }
        }
        .separator {
          width: 0px;
          border: solid 1px $dark-brown;
          height: 84px;
          display: none;
        }
      }
    }
    .experiences {
      width: 100%;
      padding: 2rem 1rem 2rem 1rem;
      h3 {
        color: $dark-brown;
        text-align: center;
        font-family: "Letters for Learners";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        text-transform: uppercase;
      }
    }
    .last-section {
      h1 {
        margin-top: 24px;
        line-height: 1.7;
        font-weight: 700;
        text-transform: lowercase;
        margin-bottom: 3rem;
      }
      .icons {
        flex-wrap: wrap;
        justify-content: center;
        .icon {
          width: 50%;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.alif-home > section {
  height: auto;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  // scroll-snap-stop: always;
  overflow: hidden;

  .experiences {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 6rem 14rem;
    gap: 6rem;
    h3 {
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
    }
  }
}

alif-header,
alif-footer {
  margin: 0;
}

.loader-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* HTML: <div class="loader"></div> */
  .loader {
    --R: 30px;
    --g1: #514b82 96%, #0000;
    --g2: #eeeeee 96%, #0000;
    width: calc(2 * var(--R));
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    -webkit-mask: linear-gradient(#000 0 0);
    animation: l30 2s infinite linear;
  }
  .loader::before,
  .loader::after {
    content: "";
    grid-area: 1/1;
    width: 50%;
    background: radial-gradient(farthest-side, var(--g1))
        calc(var(--R) + 0.866 * var(--R) - var(--R))
        calc(var(--R) - 0.5 * var(--R) - var(--R)),
      radial-gradient(farthest-side, var(--g1))
        calc(var(--R) + 0.866 * var(--R) - var(--R))
        calc(var(--R) - 0.5 * var(--R) - var(--R)),
      radial-gradient(farthest-side, var(--g2))
        calc(var(--R) + 0.5 * var(--R) - var(--R))
        calc(var(--R) - 0.866 * var(--R) - var(--R)),
      radial-gradient(farthest-side, var(--g1)) 0 calc(-1 * var(--R)),
      radial-gradient(farthest-side, var(--g2))
        calc(var(--R) - 0.5 * var(--R) - var(--R))
        calc(var(--R) - 0.866 * var(--R) - var(--R)),
      radial-gradient(farthest-side, var(--g1))
        calc(var(--R) - 0.866 * var(--R) - var(--R))
        calc(var(--R) - 0.5 * var(--R) - var(--R)),
      radial-gradient(farthest-side, var(--g2)) calc(-1 * var(--R)) 0,
      radial-gradient(farthest-side, var(--g1))
        calc(var(--R) - 0.866 * var(--R) - var(--R))
        calc(var(--R) + 0.5 * var(--R) - var(--R));
    background-size: calc(2 * var(--R)) calc(2 * var(--R));
    background-repeat: no-repeat;
  }
  .loader::after {
    transform: rotate(180deg);
    transform-origin: right;
  }

  @keyframes l30 {
    100% {
      transform: rotate(-1turn);
    }
  }
}
