<div class="alif-home">
  <section>
    <alif-header></alif-header>
    <div class="hero" data-aos="fade-up" data-aos-duration="2000">
      <div class="img">
        <img
          src="../../../assets/images/home/boitier-new.svg"
          class="boite-img"
          alt=""
          *ngIf="windowWidth > 768"
        />
      </div>
      <div class="content">
        <h2>La conteuse Alif</h2>
        <p>Voyager à travers notre Histoire & notre Héritage.</p>
        <div class="btns">
          <alif-secondary-button btnText="En savoir plus"></alif-secondary-button>
        </div>
      </div>
    </div>
    <div class="cards">
      <alif-mini-card
        *ngFor="let element of elements"
        title="{{ element.title }}"
        description="{{ element.description }}"
        img="{{ element.img }}"
        width="{{ element.width }}"
      ></alif-mini-card>
    </div>
    <div class="quote">
      <h4>
        “Simple d’utilisation, sans onde, et conçu pour les enfants : voici comment notre conteuse rend l’apprentissage accessible et apaisant. 
Partons ensemble à la découverte de notre histoire et de notre héritage”
      </h4>
      <img src="../../../assets/images/home/taous.svg" alt="">
    </div>
    <div>
      <div class="widgets">
        <div class="widget" *ngFor="let widget of widgets">
          <div *ngIf="widget.type === 'content'" class="content">
            <img alt="" [src]="widget.src" />
            {{ widget.title }}
          </div>
          <div *ngIf="widget.type === 'separator' && windowWidth > 768"><img src="../../../assets/images/home/separator.svg" alt=""></div>
        </div>
      </div>
    </div>
  </section>

  <div class="for-you">
    <h1>Les 5 raisons d’adopter Alif : </h1>
    <div class="container">
      <div class="list">
        <div class="bullets">
          <p><img src="../../../assets/images/home/bullet.svg"><b>Des histoires inspirantes :</b> soigneusement sélectionnées pour offrir aux enfants des récits imprégnés de sagesse.</p>
          <p><img src="../../../assets/images/home/bullet.svg"><b>Sans ondes :</b> une alternative saine aux écrans favorisant ainsi l’imagination, la concentration, la détente...</p>
        </div>
        <div class="bullets">
          <p><img src="../../../assets/images/home/bullet.svg"><b>Un expérience sonore immersive :</b> grâce à des effets sonores et une narration dynamique, chaque histoire prend vie.</p>
          <p><img src="../../../assets/images/home/bullet.svg"><b>Un outil divertissant et éducatif :</b> apprendre tout en s’amusant afin d’éveiller la curiosité de nos enfants autour de notre riche histoire.</p>
        </div>
        <div class="bullets">
          <p><img src="../../../assets/images/home/bullet.svg"><b>Nomade, facile à transporter :</b> Alif vous accompagne où que vous alliez.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel">
    <alif-slider></alif-slider>
  </div>

  <div class="baleine">
    <img src="../../../assets/images/home/baleine.svg" alt="" [style.margin]="'auto'">
  </div>
  <section>
    <div class="experiences">
      <div class="experience" *ngFor="let experience of experiences" >
        <alif-experience
          [title]="experience.title"
          [description]="experience.description"
          [path]="experience.path"
          [number]="experience.number"
          [direction]="experience.direction"
          *ngIf="windowWidth > 768"
        ></alif-experience>
        <alif-experience
          title="{{ experience.title }}"
          description="{{ experience.description }}"
          path="{{ experience.path }}"
          *ngIf="windowWidth <= 768"
        ></alif-experience>
      </div>
    </div>
  </section>

  <div class="scroll-container">
    <div class="products">
      <h3>NOS LIVRETS PÉDAGOGIQUES</h3>
      <div class="content">
        <div class="product">
          <h4>découvrir nos produits complémentaires</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <alif-primary-button
            btnText="Découvrir →"
          ></alif-primary-button>
        </div>
        <div class="product-item" *ngFor="let product of products">
          <alif-product
            title="{{ product.title }}"
            description="{{ product.description }}"
            imgPath="{{ product.imgPath }}"
          ></alif-product>
        </div>
      </div>
    </div>
    <div class="testimonials">
      <h3>LES FIERS TEMOIGNAGES DES PARENTS</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt.</p>
      <div class="testimonial">
        <alif-testimonial *ngFor="let testimonial of testimonials" [name]="testimonial.name"
          [message]="testimonial.message" [path]="testimonial.path" [stars]="testimonial.stars" [title]="testimonial.title"
          ></alif-testimonial>
      </div>
    </div>
    <div class="last-section">
      <h1>LES QUESTIONS LES PLUS FREQUENTES</h1>
      <div class="faq-section">
        <alif-faq-card
          *ngFor="let faq of faqs" [question]="faq.question" [answer]="faq.answer" [link]="faq.link"
        ></alif-faq-card>
      </div>

      <div class="service-client">
        <h1>Vous n'avez pas trouvé la réponse ?</h1>
        <alif-primary-button [btnText]="'Contacter le service client'"></alif-primary-button>
      </div>

      <div class="icons">
        <div class="icon" *ngFor="let icon of icons">
          <img [src]="icon.src">
          <span>{{ icon.txt }}</span>
        </div>
      </div>
    </div>
    <alif-footer></alif-footer>
  </div>

</div>
