@import "../../../styles.scss";
.alif-home {
  .hero {
    background-image: url("../../../assets/images/home/background.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 38px 120px 87px 120px;
    gap: 100px;
    height: 80vh;
    .img {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 360px;
      }
      //box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h2 {
        color: $dark-brown;
        font-family: "Belle Allure CE - Bold", serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        align-self: stretch;
        margin-bottom: 32px;
      }
      p {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
      }
      .btns {
        display: flex;
        gap: 24px;
      }
    }
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin: 50px 100px;
    gap: 24px;
  }
  .quote {
    display: flex;
    flex-direction: column;
    padding: 40px 40px 0px 40px;
    h4 {
      font-family: "Belle Allure CE - Light", sans-serif;
      text-align: center;
      line-height: 24px;
      margin: 24px 48px 60px 48px;
    }
    img {
      height: 25%;
      width: 25%;
      margin: auto;
      margin-bottom: -60px;
    }
  }

  .widgets {
    margin-bottom: 32px;
    padding: 60px 240px;
    background: linear-gradient(0deg, #ffffff -0.06%, #e9e2c8 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    .widget {
      display: flex;
      flex-direction: row;
      .content {
        color: $dark-brown;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        text-align: center;
        line-height: normal;
        display: flex;
        flex-direction: column;
        img {
          margin: auto;
          margin-bottom: 24px;
          width: 80px;
        }
      }
      .separator {
        width: 0px;
        border: solid 1px $dark-brown;
        height: 284px;
      }
    }
  }

  .carousel {
    margin-top: 48px;
    height: 100vh;
    background: linear-gradient(180deg, #e9e2c8 0%, #ffffff 100%);
    border-radius: 28px;
  }

  .baleine {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 48px 48px 48px;
  }
  .experiences {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 2rem 15rem 2rem 15rem;
    h3 {
      color: $dark-brown;
      text-align: center;
      font-family: "Belle Allure CE - Light", serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
    }
  }
  .for-you {
    h1 {
      font-family: "Belle Allure CE - Light", sans-serif;
      color: #464577;
      font-size: 32px;
      text-align: center;
    }
    .container {
      display: flex;
      justify-content: center;
      gap: 40px;
      margin-top: 20px;
      .list {
        display: flex;
        flex-direction: row;
        align-items: center;

        .bullets {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 50%;

          p {
            font-size: 18px;
            color: rgba(0, 53, 66, 1);
            margin-bottom: 15px;
            position: relative;
            padding-left: 24px;
            padding-top: 24px;
            display: flex;
            justify-content: center;
            img {
              margin-right: 16px;
            }
          }
        }
      }
    }
  }
  .products {
    padding: 64px 140px 64px 140px;
    background-image: url("../../../assets/images/home/background-products.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    h3 {
      color: $dark-brown;
      text-align: center;
      font-family: "Belle Allure CE - Light", serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 25px;
      margin-bottom: 1.5rem;
    }
    .content {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      .product {
        margin-left: 40px;
        flex: 1;
        flex-grow: 1;
        h4 {
          color: $dark-brown;
          font-family: "Letters for Learners", serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 25px;
          text-transform: uppercase;
        }
        p {
          color: $dark-brown;
          font-family: "Letters for Learners", serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      .product-item {
        flex: 1;
        flex-grow: 1;
      }
    }
  }
  .testimonials {
    margin: 32px 0 0 0;
    background: #fff;
    display: flex;
    padding: 32px 0px 56px 0px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    h3 {
      color: $dark-brown;
      text-align: center;
      font-family: "Belle Allure CE - Light", serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 25px;
    }
    .testimonial {
      display: flex;
      padding: 0px 120px 0px 120px;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .last-section {
    background: linear-gradient(180deg, #e9e2c8 0%, #ffffff 100%);
    h1 {
      font-family: "Letter for Learners", sans-serif;
      font-size: 36px;
      text-align: center;
      text-transform: uppercase;
      color: rgba(78, 81, 126, 1);
    }
    .faq-section {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 24px;
    }
    .service-client {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-family: "Letters for Learners", sans-serif;
        font-size: 48px;
        text-align: center;
        text-transform: uppercase;
        color: rgba(78, 81, 126, 1);
      }
    }
    .icons {
      margin-top: 24px;
      display: flex;
      justify-content: space-around;
      .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          margin: 8px;
        }
        p {
          margin: 8px;
          font-family: "Poppins", sans-serif;
          font-size: 18px;
          font-weight: 400;
          line-height: 27px;
          text-align: center;
          color: rgba(0, 53, 66, 1);
        }
      }
    }
  }
}

// .alif-home > section {
//     height: 100vh;
//     display: flex;
//     flex-direction: column;
//     scroll-snap-align: start;
//     overflow: hidden;

//     .experiences{
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//     padding: 2rem 15rem 2rem 15rem;
//     background: $light-brown;
//     h3{
//       color: $dark-brown;
//       text-align: center;
//       font-family: "Belle Allure CE - Light", serif;
//       font-size: 24px;
//       font-style: normal;
//       font-weight: 400;
//       line-height: 25px;
//     }
//   }
//   }

// .alif-home .scroll-container{
//     display: flex;
//     flex-direction: column;
//     scroll-snap-align: start;
//   }

@media (max-width: 1024px) {
  .alif-home {
    .hero {
      background: $light-brown;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 37px 150px 75px 150px;
      gap: 100px;
      img {
        width: 240px;
      }
      .content {
        display: flex;
        flex-direction: column;
        h2 {
          color: $dark-brown;
          font-family: "Belle Allure CE - Bold";
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          align-self: stretch;
          margin-bottom: 32px;
        }
        .btns {
          display: flex;
          gap: 24px;
        }
      }
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      margin: -25px 0px 25px 0px;
      gap: 24px;
    }
    .widgets {
      margin: 32px 0px;
      padding: 24px 240px 24px 240px;
      background: linear-gradient(0deg, #fff -0.06%, #e9e2c8 100%);
      min-height: 300px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      .widget {
        display: flex;
        flex-direction: row;
        .content {
          color: $dark-brown;
          font-family: "Belle Allure CE - Light";
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          text-align: center;
          line-height: normal;
          display: flex;
          flex-direction: column;
          img {
            margin: auto;
            width: 40px;
          }
        }
        .separator {
          width: 0px;
          border: solid 1px
            linear-gradient(180deg, #eae3c9 0%, #4e517e 50.5%, #ffffff 100%);
          height: 84px;
        }
      }
    }
    .experiences {
      margin: 1rem 0rem 3rem 0rem;
      padding: 2rem 1rem 2rem 1rem;
      h3 {
        color: $dark-brown;
        text-align: center;
        font-family: "Letters for Learners";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        text-transform: uppercase;
      }
    }
    .products {
      padding: 32px 140px 32px 140px;
      background: white;
      h3 {
        color: $blue;
        text-align: center;
        font-family: "Letters for Learners";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        text-transform: uppercase;
      }
      .content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        .product {
          margin-left: 80px;
          flex: 1;
          flex-grow: 1;
          h4 {
            color: $blue;
            font-family: "Letters for Learners";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            text-transform: uppercase;
          }
          p {
            color: $dark-brown;
            font-family: "Letters for Learners";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
        .product-item {
          flex: 1;
          flex-grow: 1;
        }
      }
    }
    .testimonials {
      margin: 32px 0px 32px 0px;
      border-top: 1px solid $lighter-blue;
      border-bottom: 1px solid $lighter-blue;
      background: #fff;
      box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1);
      display: flex;
      padding: 32px 0px 24px 0px;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      h3 {
        color: var(--blue-primary, #0281a1);
        text-align: center;
        font-family: "Belle Allure CE - Bold";
        font-size: 16px;
        font-style: normal;
        align-self: stretch;
        font-weight: 700;
        line-height: normal;
      }
      .testimonial {
        display: flex;
        padding: 0px 178px 0px 211px;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}

@media (max-width: 768px) {
  .alif-home {
    height: 100vh;
    .hero {
      background: $light-brown;
      padding: 0px;
      height: 256px;
      .content {
        display: flex;
        flex-direction: column;
        h2 {
          color: $dark-brown;
          font-family: "Belle Allure CE - Bold";
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          align-self: stretch;
          margin-bottom: 32px;
        }
        .btns {
          display: flex;
          gap: 24px;
        }
      }
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      margin: -25px 0px 25px 0px;
      gap: 24px;
    }
    .widgets {
      margin: 32px 0px;
      padding: 24px 100px 24px 100px;
      background: linear-gradient(0deg, #ffffff -0.06%, #e9e2c8 100%);
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      .widget {
        display: flex;
        .content {
          padding: 10px;
          color: $dark-brown;
          font-family: "Belle Allure CE - Light";
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          text-align: center;
          line-height: normal;
          display: flex;
          flex-direction: column;
          img {
            margin: auto;
            width: 40px;
          }
        }
        .separator {
          width: 0px;
          border: solid 1px $dark-brown;
          height: 84px;
        }
      }
    }
    .experiences {
      width: 100%;
      padding: 2rem 1rem 2rem 1rem;
      h3 {
        color: $dark-brown;
        text-align: center;
        font-family: "Letters for Learners";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        text-transform: uppercase;
      }
    }
    .products {
      padding: 10px;
      background: white;
      h3 {
        color: $blue;
        text-align: center;
        font-family: "Letters for Learners";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        text-transform: uppercase;
      }
      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .product {
          margin: 1rem 2rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          h4 {
            color: $blue;
            font-family: "Letters for Learners";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            text-transform: uppercase;
          }
          p {
            color: $dark-brown;
            font-family: "Letters for Learners";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
        .product-item {
          margin-top: 10px;
          margin-bottom: 10px;
          flex: 1;
          flex-grow: 1;
        }
      }
    }
    .testimonials {
      margin: 32px 0px 32px 0px;
      border-top: 1px solid $lighter-blue;
      border-bottom: 1px solid $lighter-blue;
      background: #fff;
      box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1);
      display: flex;
      padding: 32px 0px 24px 0px;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      h3 {
        color: var(--blue-primary, #0281a1);
        text-align: center;
        font-family: "Belle Allure CE - Bold";
        font-size: 16px;
        font-style: normal;
        align-self: stretch;
        font-weight: 700;
        line-height: normal;
      }
      .testimonial {
        display: flex;
        flex-direction: column;
        padding: 0px 25px 0px 25px;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
  .alif-home > section {
    height: auto;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    // scroll-snap-stop: always;
    overflow: hidden;

    .experiences {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 2rem 1rem 2rem 1rem;
      background: $light-brown;
      h3 {
        color: $dark-brown;
        text-align: center;
        font-family: "Belle Allure CE - Light", serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
      }
    }
  }
}

alif-header,
alif-footer {
  margin: 0;
}
