<footer class="footer">
  <div class="footer-section logo-mail">
    <div class="logo">
      <img
        src="./../../../../assets/images/logo/logo-blue.svg"
        routerLink="/"
        style="width: 8rem; height: 8rem"
        alt="logo"
      />
    </div>
    <div class="mail">
      <a href="mailto:alif.story@contact.com">alif.story@contact.com</a>
    </div>
  </div>

  <div class="footer-section support">
    <h3>{{ "footer.help_and_support.title" | translate }}</h3>
    <ul>
      <li>
        <a href="#">{{ "footer.help_and_support.who_we_are" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "footer.help_and_support.contact_us" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "footer.help_and_support.faq" | translate }}</a>
      </li>
    </ul>
  </div>

  <div class="footer-section legal">
    <h3>Politiques et mentions légales</h3>
    <ul>
      <li>
        <a href="#">{{
          "footer.politicy_legal_mention.confidentiality" | translate
        }}</a>
      </li>
      <li>
        <a href="#">{{
          "footer.politicy_legal_mention.terms_of_use" | translate
        }}</a>
      </li>
      <li>
        <a href="#">{{
          "footer.politicy_legal_mention.policy_of_return" | translate
        }}</a>
      </li>
      <li>
        <a href="#">{{
          "footer.politicy_legal_mention.legal_mention" | translate
        }}</a>
      </li>
    </ul>
  </div>

  <div class="footer-section social-media">
    <div class="social-icon">
      <img src="../../../../assets/images/icons/facebook.svg" alt="Facebook" />
    </div>
    <div class="social-icon">
      <img src="../../../../assets/images/icons/twitter.svg" alt="Twitter" />
    </div>
    <div class="social-icon">
      <img
        src="../../../../assets/images/icons/instagram.svg"
        alt="Instagram"
      />
    </div>
  </div>
</footer>
