<footer class="footer">
  <div class="footer-section logo-mail">
    <div class="logo">
      <img
        src="./../../../../assets/images/logo/logo-blue.svg"
        routerLink="/"
        style="width: 8rem; height: 8rem"
        alt="logo"
      />
    </div>
    <div class="mail">
      <a href="mailto:alif.story@contact.com">alif.story@contact.com</a>
    </div>
  </div>

  <div class="footer-section support">
    <h3>Liens utiles</h3>
    <ul>
      <li>
        <a href="/">Accueil</a>
      </li>
      <li>
        <a href="/about-us">Qui-sommes-nous</a>
      </li>
      
    </ul>
  </div>

  <div class="footer-section legal">
    <h3>Politiques et mentions légales</h3>
    <ul>
      <li>
        <a href="#">Politique de confidentialité</a>
      </li>
      <li>
        <a href="#">Conditions d'utilisation</a>
      </li>
      <li>
        <a href="#">Politique de remboursement ou de retour</a>
      </li>
      <li>
        <a href="#">Mentions légales</a>
      </li>
    </ul>
  </div>

  <div class="footer-section social-media">
    <div class="social-icon">
      <img
        src="../../../../assets/images/footer/youtube-bleu.png"
        alt="Youtube"
      />
    </div>
    <div class="social-icon">
      <img
        src="../../../../assets/images/footer/facebook-bleu.png"
        alt="Facebook"
      />
    </div>
    <div class="social-icon">
      <img
        src="../../../../assets/images/footer/instagram-bleu.png"
        alt="Instagram"
      />
    </div>
  </div>
</footer>
