/* Parent Container */
.alif-about-us-content {
  display: flex;
  overflow-x: hidden;
  flex-direction: column; /* Stack sections vertically */
  align-items: center; /* Center sections horizontally */
  width: 100%; /* Ensure the container takes full width */
}

.value-cards-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  width: 100%;
}

.value-cards-container {
  display: flex;
  flex-direction: column; /* Afficher les cartes en colonne (verticalement) */
  align-items: center; /* Centrer les cartes horizontalement */
  gap: 93.23px; /* Espacement entre les cartes pour les grands écrans */
  width: 100%;
  max-width: 994.46px; /* Largeur maximale pour les grands écrans */

  /* Media query pour les petits écrans */
  @media (max-width: 1200px) {
    gap: 60px; /* Réduire l'espacement pour les écrans moyens */
  }

  @media (max-width: 768px) {
    gap: 40px; /* Réduire l'espacement pour les petits écrans */
  }

  @media (max-width: 480px) {
    gap: 20px; /* Réduire l'espacement pour les très petits écrans */
  }
}

/* Latest Articles Section */
.latest-articles-section {
  margin-top: 40px; /* Add space between this section and the previous one */
  text-align: center; /* Center the title */
  padding: 77px 109px 131px 109px; /* Add padding for better spacing */
  width: 100%; /* Ensure the section takes full width */

  /* Centered Title */
  .latest-article-title {
    font-size: 38px; /* Adjust font size as needed */
    font-family: "Belle Allure CE - Light", sans-serif;
    font-weight: 700;
    margin-bottom: 20px; /* Space between title and cards */
    line-height: 85px;
    color: rgba(78, 81, 126, 1);
  }

  /* Card Container */
  .card-container {
    display: flex; /* Align cards horizontally */
    justify-content: center; /* Center the cards horizontally */
    gap: 74px; /* Space between cards */
    flex-wrap: wrap; /* Allow cards to wrap to the next line if needed */
    max-width: 1200px; /* Optional: Limit the maximum width of the container */
    width: 100%; /* Ensure the container takes full width */
  }
}

.icons {
  margin-top: 6rem;
  display: flex;
  justify-content: space-around;
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      margin: 8px;
    }
    span {
      margin: 8px;
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      text-align: center;
      color: rgba(0, 53, 66, 1);
    }
  }
}

@media (max-width: 768px){
  .icons {
    flex-wrap: wrap;
    justify-content: center;
    .icon {
      width: 50%;
      margin-bottom: 20px;
    }
  }
}
