@import "../../../styles.scss";

.alif-concept {
  .hero {
    background-image: url("../../../assets/images/home/background-white.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 38px 120px 87px 120px;
    gap: 100px;
    height: 80vh;
    .img {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 360px;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 36px;
      color: rgba(78, 81, 126, 1);

      h2 {
        font-family: "Belle Allure CE - Bold", serif;
        font-size: 49px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        align-self: stretch;
        margin-bottom: 32px;
      }
      .text {
        display: flex;
        font-family: "popins", sans-serif;
        flex-direction: column;
        font-size: 18px;
        gap: 28px;
        p {
          margin: 0;
          font-family: "Poppins", sans-serif;
          font-size: 18px;
        }

        .audio-extrait {
          display: flex;
          flex-direction: row;
          gap: 23px;
          align-items: center;
        }
      }
      .btns {
        display: flex;
        gap: 24px;
      }
    }
  }

  .video-section {
    width: 100vw; /* Takes full width of the screen */
    height: 657px; /* Fixed height */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .background-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the section */
    position: absolute;
    top: 0;
    left: 0;
  }

  .play-button {
    width: 159.85px;
    height: 159.85px;
    border-radius: 79.93px;
    background: rgba(255, 255, 255, 0.7); /* 70% opacity */
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .play-button:hover {
    transform: scale(1.1);
  }

  .play-button svg {
    width: 59.15px;
    height: 68.15px;
  }

  .icons {
    margin-top: 6rem;
    display: flex;
    justify-content: space-around;
    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        margin: 8px;
      }
      span {
        margin: 8px;
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        text-align: center;
        color: rgba(0, 53, 66, 1);
      }
    }
  }

  /* Latest Articles Section */
  .latest-articles-section {
    margin-top: 40px; /* Add space between this section and the previous one */
    text-align: center; /* Center the title */
    padding: 77px 131px; /* Add padding for better spacing */
    width: 100%; /* Ensure the section takes full width */

    /* Centered Title */
    .latest-article-title {
      font-size: 38px; /* Adjust font size as needed */
      font-family: "Belle Allure CE - Light", sans-serif;
      font-weight: 700;
      margin-bottom: 20px; /* Space between title and cards */
      line-height: 85px;
      color: rgba(78, 81, 126, 1);
    }

    /* Card Container */
    .card-container {
      display: flex; /* Align cards horizontally */
      justify-content: center; /* Center the cards horizontally */
      gap: 74px; /* Space between cards */
      flex-wrap: wrap; /* Allow cards to wrap to the next line if needed */
      max-width: 1200px; /* Optional: Limit the maximum width of the container */
      width: 100%; /* Ensure the container takes full width */
    }
  }

  @media (max-width: 768px) {
    .hero {
      flex-direction: column;
      align-items: center;
      height: auto;
      padding: 30px 20px;

      .content {
        display: flex;
        flex-direction: column;
        text-align: center;
        h2 {
          font-family: "Belle Allure CE - Bold";
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          align-self: stretch;
          margin-bottom: 0px;
        }
        .audio-extrait {
          display: flex;
          flex-direction: column;
          gap: 23px;
          align-items: center;
        }
      }
    }
    .icons {
      flex-wrap: wrap;
      justify-content: center;
      .icon {
        width: 50%;
        margin-bottom: 20px;
      }
    }
    .testimonials {
      margin: 32px 0px 32px 0px;
      display: flex;
      padding: 32px 20px 24px;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      h3 {
        font-size: 2rem;
        font-style: normal;
        align-self: stretch;
        font-weight: 700;
        line-height: normal;
      }
      .testimonial {
        display: flex;
        flex-direction: column;
        padding: 0 25px;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}
