<div class="circle-container">
  <!-- SVG Background -->
  <svg
    class="circle-svg"
    width="651"
    height="655"
    viewBox="0 0 651 655"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M220.081 34.6119C310.632 -4.64014 398.817 0.267219 454.218 34.4548M609.503 192.745C639.306 249.263 667.062 316.731 618.522 406.655M501.741 586.857C367.799 672.418 258.792 661.248 167.67 603.664M51.3902 207.046C2.30894 253.428 -11.3452 317.506 34.4758 428.103"
      stroke="#4E517E"
      stroke-width="12"
      stroke-linecap="round"
    />
  </svg>

  <!-- Elements placed around the path -->
  <div class="circle-item item1">
    <span class="item-text">1. Je sélectionne mon personnage</span>
    <img src="../../../../assets/images/concept/golden-radio.svg" alt="" />
  </div>

  <div class="circle-item item2">
    <img src="../../../../assets/images/concept/golden-speaker.svg" alt="" />
    <span class="item-text">2. J’écoute avec attention</span>
  </div>

  <div class="circle-item item3">
    <img src="../../../../assets/images/concept/correct.svg" alt="" />
    <span class="item-text">3. Je réalise mes activités</span>
  </div>

  <div class="circle-item item4">
    <span class="item-text">4. Je me corrige</span>
    <img src="../../../../assets/images/concept/golden-book.svg" alt="" />
  </div>

  <!-- Center Text -->
  <div class="circle-center-text">
    <h3>Lorem ipsum</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>
</div>
