<div class="cycle-grid">
  <!-- Row 1 -->
  <div class="cycle-item top-row">
    <p class="cycle-item-text">1. Je sélectionne mon personnage</p>
    <span class="step-number"
      ><img src="../../../../assets/images/concept/golden-radio.svg" alt=""
    /></span>
  </div>
  <div class="arrow arrow-horizontal">
    <svg
      class="arrow-svg"
      viewBox="0 0 100 50"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M10,25 Q50,10 90,25"
        stroke="#4E517E"
        stroke-width="5"
        fill="none"
      />
    </svg>
  </div>
  <div class="cycle-item top-row top-right">
    <span class="step-number">
      <img src="../../../../assets/images/concept/golden-speaker.svg" alt=""
    /></span>
    <p>2. J’écoute avec attention</p>
  </div>

  <!-- Row 2 -->
  <div class="arrow arrow-vertical rotate-left">
    <svg
      class="arrow-svg"
      viewBox="0 0 100 50"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M10,25 Q50,10 90,25"
        stroke="#4E517E"
        stroke-width="5"
        fill="none"
      />
    </svg>
  </div>
  <div class="empty-center">
    <h2>Lorem ipsum</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
  </div>
  <div class="arrow arrow-vertical rotate-right">
    <svg
      class="arrow-svg"
      viewBox="0 0 100 50"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M10,25 Q50,10 90,25"
        stroke="#4E517E"
        stroke-width="5"
        fill="none"
      />
    </svg>
  </div>

  <!-- Row 3 -->
  <div class="cycle-item botton-row botton-left">
    <p>⁠3. Je réalise mes activités</p>
    <span class="step-number">
      <img
        class=".cycle-item-img"
        src="../../../../assets/images/concept/golden-book.svg"
        alt=""
    /></span>
  </div>
  <div class="arrow arrow-horizontal rotate-bottom">
    <svg
      class="arrow-svg"
      viewBox="0 0 100 50"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M10,25 Q50,10 90,25"
        stroke="#4E517E"
        stroke-width="5"
        fill="none"
      />
    </svg>
  </div>
  <div class="cycle-item botton-row botton-right">
    <span class="step-number">
      <img src="../../../../assets/images/concept/correct.svg" alt=""
    /></span>
    <p>4. Je me corrige</p>
  </div>
</div>
